<%- include('../partials/header.ejs') %>
<header>
    <h1>Bem Vindo(a) <%= name %></h1> <a href="/logoff">Sair</a>
</header>


<div class="container-dashboard">
    
</div>

<%- include('../partials/footer.ejs') %>