<%- include('../partials/header.ejs') %>
<main>
    <div class="container">
        <h1>Login</h1>
        <form action="" method="post">
            <label for="">email ou username</label>
            <br>
            <input type="text" name="" id="">
            <br>
            <label for="">email ou username</label>
            <br>
            <input type="text" name="" id="">
            <br>
            <button type="submit">logar</button>
        </form>
    </div>
</main>
<%- include('../partials/footer.ejs') %>