<%- include('../partials/header.ejs') %>
<main>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="/register" method="post">
            <div class="input">
                <input type="text" name="username" placeholder="Nome De usuario ex: jon_093">
            </div>
            <br>
            <div class="input">
                <input type="text" name="email" placeholder="E-mail">
            </div>
            <br>
            <div class="input">
                <input type="password" name="pass" placeholder="Senha">
            </div>
           
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</main>
<%- include('../partials/footer.ejs') %>